/* Folha de estilos - Página inicial */
/* Cabeçalho */
html {
    background-color: #FFFFFF;
    display: table;
    margin: auto;
    background-image: url("src/bg.png");
    background-position: center top;
}
body {
    font-family: "Montserrat", sans-serif;
    width: 1300px;
    display: table;
    margin: 35px auto 15px;
}

header {
    position: relative;
}

#topo {
    flex-direction: row;
    display: inline-flex;
}

#logo {
    width: 40px;
    height: 52px;
}

#nome {
    margin-top: 15px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
}

nav {
    float: right;
    display: inline;
    font-weight: 500;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li:after {
    content: "\00b7";
    font-size: 20px;
    padding-left: 30px;
}

nav ul li:last-child:after {
    content: none;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.github {
    position:relative;
    margin-left: 15px;
    display: inline;
    background-color: #000000;
    color: #FFFFFF;
    padding: 15px 15px 15px 55px;
    border-radius: 6px;
}

.github img {
    position:absolute;
    margin-left:-40px;
}

/* Corpo da página */
main {
    position: relative;
}

#pre-title {
    display: inline-flex;
    margin-top: 100px;
}

#line {
    width: 122px;
    height: 4px;
    background-color: #000000;
    margin-top: 43px;
}

h5 {
    font-size: 20px;
    font-weight: 800;
    margin-left: 16px;
}

h1 {
    font-size: 150px;
}

.title {
    line-height: 70px;
    font-weight: 800;
    margin-top: 50px;
}

#stroke {
    color: transparent;
    -webkit-text-stroke: 2px #000000;
}

#main-link {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
}

#link-text {
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    border-bottom: 2px solid #000000;
}

#arrow {
    width: 17px;
    height: 17px;
    padding-top: 30px;
    padding-left: 10px;
    border-bottom: none;
}

aside {
    margin-top: -100px;
    float: right;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
}

.tecnologias {
    margin-top: -10px;
    margin-bottom: 5px;
}

/* Rodapé da página */
footer {
    display: table-row;
    margin: auto;
    text-align: center;
}

footer h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}